.article-content h2{
    margin-top:56px;
    margin-bottom:24px;
    font-size:40px;
    font-weight:700;
    color:#F5F2EA;
}

.article-content h3{
    margin-top:36px;
    margin-bottom:16px;
    font-size:28px;
}

.article-content p{
    margin:18px 0;
    line-height:2;
    color:#A9B4BE;
}

.article-content ul{
    margin:24px 0;
    padding-left:28px;
}

.article-content li{
    margin:10px 0;
}

.article-content blockquote{
    margin:40px 0;
    padding:24px;
    border-left:4px solid #C6A15B;
    background:#0E1720;
}

.article-content img{
    width:100%;
    border-radius:14px;
    margin:40px 0;
}